.discovery-sidebar {
    width: 300px;
}

.discovery-sidebar .nested {
    padding-left: 20px;
}

.discovery-sidebar .variants {
    color: #888;
}

.discovery-sidebar .missed .view-link:first-child {
    color: #d00;
    text-decoration-color: #a008;
}

.discovery-sidebar .patched-badge {
    margin-left: 1ex;
    color: #635d33;
    background-color: rgba(182, 167, 60, 0.4);
    text-transform: uppercase;
    font-size: 10px;
    vertical-align: text-bottom;
    padding-top: 2px;
    opacity: .5;
}
.discovery-sidebar .danger-badge {
    margin-left: 1ex;
    color: white !important;
    background-color: #ff4444;
    text-shadow: none;
}
.discovery-root-darkmode .discovery-sidebar .danger-badge {
    background-color: #ba3636c2;
}
.discovery-sidebar .view-list-item > .danger-badge {
    font-size: 10px;
    vertical-align: text-bottom;
}

.discovery-root-darkmode .discovery-sidebar .missed:not(:hover) {
    color: #ff5e5e;
    text-decoration-color: #ff5e5e80;
}
.discovery-root-darkmode .discovery-sidebar .patched-badge {
    color: #dcd7ad;
}
