.view-match-graph {
    position: relative;
    white-space: pre;
    line-height: 12px;;
}

.view-match-graph .node-count::after {
    content: ' node(s)';
}

.view-match-graph .canvas {
    position: relative;
    display: inline-block;
    min-width: 100%;
}
.view-match-graph .connections-canvas {
    position: absolute;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    background: rgba(100, 150, 200, .05);
    background-size: 15px 15px;
    background-image: linear-gradient(-45deg, transparent 8px, rgba(180, 180, 180, 0.2) 8px , rgba(180, 180, 180, 0.2) 9px, transparent 0);
}
.view-match-graph .connections-canvas .connection {
    stroke: rgba(153, 153, 153, 0.5);
    stroke-width: 2;
    fill: transparent;
    stroke-linejoin: round;
    marker-end: url(#match-graph-connection-marker);
    pointer-events: all;
}

.view-match-graph .graph {
    position: relative;
    padding: 20px;
}

.view-match-graph .node-wrapper {
    display: flex;
    align-items: flex-start;
    border: solid transparent;
    border-width: 1px 2px;
}
.view-match-graph .node-content > .node-wrapper {
    border-width: 2px 0 0;
}
.view-match-graph .node {
    vertical-align: top;
    display: inline-block;
    color: black;
    background: rgba(220, 220, 220, .5);
    font-size: 12px;
}
.view-match-graph .nested {
    display: inline-block;
    padding-left: 40px;
}
.view-match-graph .nested_labeled {
    padding-top: 21px;
}
.view-match-graph .node_default {
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .05);
}
.view-match-graph .node_check {
    background: rgba(150, 200, 255, .35);
    padding: 0;
    border-radius: 3px;
}
.view-match-graph .node_check a {
    color: var(--discovery-color);
    opacity: .8;
    text-decoration-color: currentColor;
}
.view-match-graph .node_check a:hover {
    opacity: 1;
}
.view-match-graph .node__label {
    display: inline-block;
    padding: 4px;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--discovery-color);
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3px 0 0 3px;
}
.view-match-graph .node__key {
    display: inline-block;
    color: var(--discovery-color);
    padding: 3px 8px;
    font-size: 12px;
}
.view-match-graph .node__type {
    background: rgba(0, 0, 0, .2);
    padding: 4px 4px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}
.view-match-graph .node-field {
    position: relative;
    padding: 5px 4px;
    font-size: 12px;
}
.view-match-graph .node-field-label {
    padding: 0 4px;
}
.view-match-graph .node_match,
.view-match-graph .node_mismatch,
.view-match-graph .node_disallow-empty,
.view-match-graph .node_recursive {
    opacity: .75;
    background: #0A0;
    padding: 4px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: none;
}
.view-match-graph .node_mismatch {
    background: #D00;
}
.view-match-graph .node_disallow-empty {
    background: orange;
}
.view-match-graph .node_recursive {
    visibility: hidden;
}
.view-match-graph .connection-dot {
    position: absolute;
    right: -3px;
    top: 50%;
    margin-top: -3px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(170, 170, 170, 0.6);
}
