.view-syntax-match {
    position: relative;
}

.view-syntax-match > .trace-popup {
    position: absolute;
    margin-top: 21px;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background: var(--discovery-background-color);
    border: 1px solid rgba(176, 176, 176, 0.65);
    box-shadow: 3px 3px 18px rgba(0, 0, 0, .2);
    z-index: 100;
    line-height: 30px;
}
.discovery[data-darkmode] .view-syntax-match > .trace-popup {
    --discovery-background-color: #323232;
}
.view-syntax-match > .trace-popup .header {
    font-size: 12px;
    text-align: center;
    color: #666;
    margin-top: -8px;
}
.view-syntax-match > .trace-popup .instruction {
    opacity: .75;
}
