.view-syntax-tree:empty {
    display: none;
}
.view-syntax-tree .match {
    white-space: nowrap;
    padding: 2px 3px;
    border-radius: 3px;
}
.view-syntax-tree .view-syntax a {
    color: #333;
    text-decoration-color: #b8b8b8;
}
.view-syntax-tree .view-syntax a:hover {
    color: var(--discovery-color);
    text-decoration-color: currentColor;
}
.view-syntax-tree .error {
    display: inline;
    color: #d00;
}
