.view-syntax-tree:empty {
    display: none;
}
.view-syntax-tree .match {
    white-space: nowrap;
    padding: 2px 3px;
    border-radius: 3px;
}
.view-syntax-tree .view-syntax a {
    color: #333;
    text-decoration-color: #b8b8b8;
}
.discovery-root-darkmode .view-syntax-tree .view-syntax a {
    color: #a8a8a8;
    text-decoration-color: #666;
}
.view-syntax-tree .view-syntax a:hover {
    color: var(--discovery-color);
    text-decoration-color: currentColor;
}
.view-syntax-tree .error {
    display: inline;
    color: #d00;
}
.discovery-root-darkmode .view-syntax-tree .error {
    color: #cb6969;
    text-decoration-color: #985858;
}
