.view-syntax a {
    white-space: nowrap;
    color: #333;
    text-decoration-color: rgba(113, 113, 113, 0.5);
}
.discovery-root-darkmode .view-syntax a {
    color: #aaa;
}
.view-syntax a:hover {
    color: var(--discovery-color);
    text-decoration-color: currentColor;
}
.view-syntax .error {
    color: #d00 !important;
}
.discovery-root-darkmode .view-syntax .error {
    color: #cb6969 !important;
    text-decoration-color: #985858;
}
.view-syntax .match {
    background: #ffdd1136;
    box-shadow: 0 0 0 2px #ffdd1136;
    white-space: nowrap;
    border-radius: 3px;
}
