.view-syntax-match-trace ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.view-syntax-match-trace li {
    overflow: hidden;
    line-height: 25px;
    margin-bottom: -4px;
}
.view-syntax-match-trace .syntax {
    display: inline-block;
    padding: 10px 6px 10px;
    position: relative;
}
.view-syntax-match-trace li:first-child .syntax {
    padding-top: 0;
}
.view-syntax-match-trace .atom {
    white-space: nowrap;
}
.view-syntax-match-trace .match,
.view-syntax-match-trace .children-match {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    --match-caption-color: rgba(118, 202, 126, .35);
}
.view-syntax-match-trace .children-match {
    --match-caption-color: rgba(85, 85, 255, 0.3);
}
.view-syntax-match-trace .match > .magick-box {
    /* This block makes all precending blocks (connectors & trunk)
       positioned to center of match block. That's a real magick! */
    display: block;
}
.view-syntax-match-trace .match-caption {
    position: relative;
    z-index: 1;
}
.view-syntax-match-trace .match-caption::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -1px;
    right: -1px;
    bottom: -4px;
    background: linear-gradient(to top, var(--match-caption-color), var(--match-caption-color)) var(--discovery-background-color);
    outline: 1px solid var(--discovery-background-color);
    z-index: -1;
}

.view-syntax-match-trace .match::before { /* trunk */
    content: '';
    position: absolute;
    z-index: -1;
    top: 2px;
    bottom: 2px;
    width: 2px;
    background-color: var(--match-caption-color);
}
.view-syntax-match-trace .clear-up,
.view-syntax-match-trace .clear-down {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 2px;
    background: var(--discovery-background-color);
}
.view-syntax-match-trace .clear-up {
    transform: translateY(-100%);
}

.view-syntax-match-trace .connector-up,
.view-syntax-match-trace .connector-down {
    position: absolute;
    width: 200vw;
    height: 4px;
    transform: translateX(-50%);
    z-index: -2;
}
.view-syntax-match-trace .connector-up {
    top: 0;
    margin-left: 2px;
}
.view-syntax-match-trace .connector-down {
    margin-left: 2px;
    background: var(--match-caption-color);
    bottom: 0;
}

.view-syntax-match-trace .connector-up::before,
.view-syntax-match-trace .connector-down::before,
.view-syntax-match-trace .connector-up::after,
.view-syntax-match-trace .connector-down::after {
    content: '';
    position: absolute;
    background: var(--discovery-background-color);
    height: 2px;
    z-index: 2;
    top: 0;
}

.view-syntax-match-trace .connector-up::before {
    left: 50%;
    right: -100%;
}
.view-syntax-match-trace .connector-down::before {
    left: -100%;
    right: 50%;
}
  
.view-syntax-match-trace .connector-up::after {
    top: 2px;
    left: -100%;
    right: 50%;
}
.view-syntax-match-trace .connector-down::after {
    top: 2px;
    right: -100%;
    left: 50%;
}
