.view-syntax-match-tree {
    overflow: auto;
}
.view-syntax-match-tree .label:empty {
    display: none;
}
.view-syntax-match-tree:hover .label,
.view-syntax-match-tree.pinned .label {
    opacity: .35;
}
.view-syntax-match-tree .match-tree-node {
    font-size: 11px;
    display: inline-block;
    flex: 1;
    cursor: default;
}
.view-syntax-match-tree .match-tree-node + .match-tree-node {
    margin-left: 2px;
}
.view-syntax-match-tree .match-tree-node > .label {
    display: block;
    text-align: center;
    border-top: 1px solid rgba(0, 96, 0, 0.75);
    padding: 1px 6px 4px;
    line-height: 1;
    white-space: nowrap;
}
.view-syntax-match-tree .match-tree-node:hover > .label,
.view-syntax-match-tree .match-tree-node.pinned > .label {
    opacity: 1 !important;
    background: linear-gradient(to bottom, rgba(0, 255, 0, .1), transparent 75%);
}
.view-syntax-match-tree .match-tree-node > .children {
    display: flex;
    align-items: stretch;
}
.view-syntax-match-tree .match-tree-node_ASTNode {
    display: block;
}
.view-syntax-match-tree .match-tree-node_ASTNode > .label {
    opacity: 1;
    font-size: 14px;
    background: rgba(40, 165, 70, 0.2);
    margin-bottom: 2px;
    border: none;
    padding: 2px 6px;
    line-height: 1.2;
}
.view-syntax-match-tree .match-tree-node_ASTNode:hover > .label,
.view-syntax-match-tree .match-tree-node_ASTNode.pinned > .label {
    background-color: rgba(105, 192, 125, 0.4);
}
